---
import { Button } from "@/components/ui/button";
import "@/styles/globals.css";
import { db, desc, Payment } from "astro:db";
import Layout from "../layouts/Layout.astro";
import { Card } from "@/components/ui/card";
import { eq } from "astro:db";

const userId = String(Astro.locals.auth().userId);
if (!userId) {
    return;
}
const payments = await db
    .select()
    .from(Payment)
    .where(eq(Payment.userId, userId))
    .orderBy(desc(Payment.date));
---

<Layout title="Home">
    <a href="/paymentform">
        <Button>Payment Entry</Button>
    </a>

    <h2>Purchases</h2>
    {
        payments.map(({ date, amount }) => (
            <Card>
                <p>{new Date(date).toLocaleDateString("en-US")}</p>
                <p>
                    {amount.toLocaleString("en-US", {
                        style: "currency",
                        currency: "USD",
                    })}
                </p>
            </Card>
        ))
    }
</Layout>
