---
import PaymentEntry from "@/components/paymententry.astro";
import "@/styles/globals.css";
import { Comment, db } from "astro:db";
import Layout from "../layouts/Layout.astro";

const comments = await db.select().from(Comment);
---

<Layout title="Home">
    <PaymentEntry />
    <h2>Comments</h2>

    {
        comments.map(({ authorId, body }) => (
            <article>
                <p>Author: {authorId}</p>
                <p>{body}</p>
            </article>
        ))
    }
</Layout>
