---
import { PaymentEntry } from "@/components/paymententry";
import "@/styles/globals.css";
import { db, Payment } from "astro:db";
import Layout from "../layouts/Layout.astro";

const payment = await db.select().from(Payment);
---

<Layout title="Home">
    <PaymentEntry client:load />
    <h2>Payments</h2>
    {
        payment.map(({ date, amount }) => (
            <article>
                <p>{date}</p>
                <p>{amount}</p>
            </article>
        ))
    }
</Layout>
