---
import { Button } from "@/components/ui/button";
import "@/styles/globals.css";
import { db, Payment } from "astro:db";
import Layout from "../layouts/Layout.astro";

const payments = await db.select().from(Payment);
---

<Layout title="Home">
    <a href="/paymentform">
        <Button>Payment Entry</Button>
    </a>

    <h2>Payments</h2>
    {
        payments.map(({ date, amount }) => (
            <article>
                <p>{date}</p>
                <p>{amount}</p>
            </article>
        ))
    }
</Layout>
