---
import { Author } from "astro:db";
import { db, Comment } from "astro:db";

if (Astro.request.method === "POST") {
    // Parse form data
    const formData = await Astro.request.formData();
    const author = formData.get("author");
    const body = formData.get("body");
    if (typeof author === "string" && typeof body === "string") {
        // Insert form data into the Comment table
        const newauthor = await db
            .insert(Author)
            .values({ name: author })
            .returning();
        console.log(newauthor);
        await db.insert(Comment).values({ authorId: newauthor[0].id, body });
    }
}

// Render the new list of comments on each request
const comments = await db.select().from(Comment);
---

<form method="POST" style="display: grid">
    <label for="author">Author</label>
    <input id="author" name="author" />

    <label for="body">Body</label>
    <textarea id="body" name="body"></textarea>

    <button type="submit">Submit</button>
</form>

<h2>Comments</h2>

{
    comments.map(({ authorId, body }) => (
        <article>
            <p>Author: {authorId}</p>
            <p>{body}</p>
        </article>
    ))
}
