---
import "@/styles/globals.css";
import type { Payment as PaymentType } from "@/types/db";

interface Props {
    payment: PaymentType;
}

const { payment } = Astro.props;
---

<a
    href="#"
    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
    <div>
        <div>{payment.description}</div>
    </div>
    <div>
        <p>{new Date(payment.date).toLocaleDateString("en-US")}</p>
        <p>
            {
                payment.amount.toLocaleString("en-US", {
                    style: "currency",
                    currency: "USD",
                })
            }
        </p>
    </div>
    <div class="space-x-2">
        <button> Edit </button>
        <button> Delete </button>
    </div>
</a>
