---
import "@/styles/globals.css";
import type { Payment as PaymentType } from "@/types/db";

interface Props {
    payment: PaymentType;
}

const { payment } = Astro.props;
---

<div>
    <div>
        <div>{payment.description}</div>
    </div>
    <div>
        <p>{new Date(payment.date).toLocaleDateString("en-US")}</p>
        <p>
            {
                payment.amount.toLocaleString("en-US", {
                    style: "currency",
                    currency: "USD",
                })
            }
        </p>
    </div>
    <div class="space-x-2">
        <button> Edit </button>
        <button> Delete </button>
    </div>
</div>
