---
import { Author } from "astro:db";
import { db, Comment } from "astro:db";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { PaymentEntry } from "@/components/paymententry";

if (Astro.request.method === "POST") {
    const user = Astro.locals.auth();

    // Parse form data
    const formData = await Astro.request.formData();
    const author = formData.get("author");
    const body = formData.get("body");
    if (typeof author === "string" && typeof body === "string") {
        // Insert form data into the Comment table
        const newauthor = await db
            .insert(Author)
            .values({ name: author })
            .returning();
        console.log(newauthor);
        await db.insert(Comment).values({ authorId: newauthor[0].id, body });
    }

    // Redirect to avoid resubmitting the form on refresh
    return Astro.redirect(Astro.url.pathname);
}
---

<div>
    <PaymentEntry client:load>
        <form method="POST" class="grid p-6">
            <Card>
                <CardHeader>
                    <CardTitle>Card Title</CardTitle>
                    <CardDescription>Card Description</CardDescription>
                </CardHeader>
                <CardContent>
                    <Label htmlFor="date">Date</Label>
                    <Input id="date" name="date" type="date" />

                    <Label htmlFor="amount">Amount</Label>
                    <Input id="amount" name="amount" type="number" />

                    <Label htmlFor="card">Card Used</Label>
                    <Input id="card" name="card" />

                    <Label htmlFor="purchaseType">Purchase Type</Label>
                    <Input id="purchaseType" name="purchaseType" />

                    <Label htmlFor="desc">Description</Label>
                    <Input id="desc" name="desc" />

                    <Label htmlFor="notes">Notes</Label>
                    <Input id="notes" name="notes" />
                </CardContent>
                <CardFooter>
                    <Button type="submit">Submit</Button>
                </CardFooter>
            </Card>
        </form>
    </PaymentEntry>
</div>
