---
import {
    Card,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import "@/styles/globals.css";
import type { Payment as PaymentType } from "@/types/db";
import { db, eq, Payments } from "astro:db";
import { Button } from "./ui/button";

interface Props {
    payment: PaymentType;
}

const { payment } = Astro.props;
---

<Card>
    <CardHeader>
        <CardTitle>{payment.description}</CardTitle>
    </CardHeader>
    <CardContent>
        <p>{new Date(payment.date).toLocaleDateString("en-US")}</p>
        <p>
            {
                payment.amount.toLocaleString("en-US", {
                    style: "currency",
                    currency: "USD",
                })
            }
        </p>
    </CardContent>
    <CardFooter className="space-x-2">
        <Button> Edit </Button>
        <Button
            onClick={async (e) => {
                console.log("IN HERE");

                e.preventDefault();
                console.log("IN HERE");
                await db.delete(Payments).where(eq(Payments.id, payment.id));
            }}
        >
            Delete
        </Button>
    </CardFooter>
</Card>
