---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { db, Payments } from "astro:db";

if (Astro.request.method === "POST") {
    const userId = String(Astro.locals.auth().userId);
    if (!userId) {
        return;
    }

    // Parse form data
    const formData = await Astro.request.formData();
    const date = formData.get("date") as string;
    const amount = formData.get("amount") as string;
    const card = formData.get("card") as string;
    const purchaseType = formData.get("purchaseType") as string;
    const desc = formData.get("desc") as string;
    const notes = formData.get("notes") as string;
    if (!date || !amount || !card || !purchaseType) {
        console.log("Missing form data");
        return;
    }

    // Insert form data into the Comment table
    await db.insert(Payments).values({
        userId: userId,
        date: new Date(date),
        amount: parseFloat(amount),
        cardId: parseInt(card),
        purchaseTypeId: parseInt(purchaseType),
        description: desc,
        notes: notes,
    });

    // Redirect to avoid resubmitting the form on refresh
    return Astro.redirect("/");
}
---

<Layout title="PaymentForm">
    <form method="POST" class="grid p-6">
        <div>
            <div class="space-y-2">
                <label for="date">Date</label>
                <input
                    id="date"
                    name="date"
                    type="date"
                    value={new Date().toISOString().split("T")[0]}
                />

                <label for="amount">Amount</label>
                <input id="amount" name="amount" type="number" step="0.01" />

                <label for="card">Card Used</label>
                <select id="card" name="card" class="input">
                    <option value="1">Card 1</option>
                    <option value="2">Card 2</option>
                    <option value="3">Card 3</option>
                </select>

                <label for="purchaseType">Purchase Type</label>
                <select id="purchaseType" name="purchaseType" class="input">
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                </select>

                <label for="desc">Description</label>
                <input id="desc" name="desc" />

                <label for="notes">Notes</label>
                <input id="notes" name="notes" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</Layout>
