---
import { Button } from "@/components/ui/button";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import { db, Payment } from "astro:db";

if (Astro.request.method === "POST") {
    const userId = String(Astro.locals.auth().userId);
    if (!userId) {
        return;
    }

    // Parse form data
    const formData = await Astro.request.formData();
    const date = formData.get("date") as string;
    const amount = formData.get("amount") as string;
    const card = formData.get("card") as string;
    const purchaseType = formData.get("purchaseType") as string;
    const desc = formData.get("desc") as string;
    const notes = formData.get("notes") as string;
    if (!date || !amount || !card || !purchaseType) {
        console.log("Missing form data");
        return;
    }

    // Insert form data into the Comment table
    await db.insert(Payment).values({
        userId: userId,
        date: new Date(date),
        amount: parseFloat(amount),
        cardId: parseInt(card),
        purchaseTypeId: parseInt(purchaseType),
        description: desc,
        notes: notes,
    });

    // Redirect to avoid resubmitting the form on refresh
    return Astro.redirect("/");
}
---

<Layout title="PaymentForm">
    <form method="POST" class="grid p-6">
        <Card>
            <CardHeader>
                <CardTitle>Card Title</CardTitle>
                <CardDescription>Card Description</CardDescription>
            </CardHeader>
            <CardContent className="space-y-2">
                <Label htmlFor="date">Date</Label>
                <Input
                    id="date"
                    name="date"
                    type="date"
                    value={new Date().toISOString().split("T")[0]}
                />

                <Label htmlFor="amount">Amount</Label>
                <Input id="amount" name="amount" type="number" step="0.01" />

                <Label htmlFor="card">Card Used</Label>
                <select id="card" name="card" class="input">
                    <option value="1">Card 1</option>
                    <option value="2">Card 2</option>
                    <option value="3">Card 3</option>
                </select>

                <Label htmlFor="purchaseType">Purchase Type</Label>
                <select id="purchaseType" name="purchaseType" class="input">
                    <option value="1">Type 1</option>
                    <option value="2">Type 2</option>
                    <option value="3">Type 3</option>
                </select>

                <Label htmlFor="desc">Description</Label>
                <Input id="desc" name="desc" />

                <Label htmlFor="notes">Notes</Label>
                <Input id="notes" name="notes" />
            </CardContent>
            <CardFooter>
                <Button type="submit">Submit</Button>
            </CardFooter>
        </Card>
    </form>
</Layout>
