<nav
    class="fixed bottom-0 pt-2 pb-4 w-full grid grid-cols-5 lg:hidden bg-white border-t"
>
    <div class="flex flex-col items-center justify-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
        >
            <path
                fill="#2c2c2c"
                d="M4 19v-9q0-.475.213-.9t.587-.7l6-4.5q.525-.4 1.2-.4t1.2.4l6 4.5q.375.275.588.7T20 10v9q0 .825-.588 1.413T18 21h-3q-.425 0-.712-.288T14 20v-5q0-.425-.288-.712T13 14h-2q-.425 0-.712.288T10 15v5q0 .425-.288.713T9 21H6q-.825 0-1.412-.587T4 19"
            ></path>
        </svg>
        <label class="text-xs">Home</label>
    </div>
    <div class="flex flex-col items-center justify-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 20 20"
        >
            <path
                fill="#2c2c2c"
                d="M15.879 5H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.121l-4.44 4.44a1.5 1.5 0 0 1-2.12-2.122zM4 8.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0 3a.5.5 0 0 1 .5-.5H9a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5m13.854-5.646a.5.5 0 0 0-.708-.708l-5 5a.5.5 0 0 0 .708.708z"
            ></path>
        </svg>
        <label class="text-xs">Paychecks</label>
    </div>
    <div class="flex flex-col items-center justify-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
        >
            <path
                fill="#2c2c2c"
                d="M12 4.75c.69 0 1.25.56 1.25 1.25v4.75H18a1.25 1.25 0 1 1 0 2.5h-4.75V18a1.25 1.25 0 1 1-2.5 0v-4.75H6a1.25 1.25 0 1 1 0-2.5h4.75V6c0-.69.56-1.25 1.25-1.25"
            ></path>
        </svg>
    </div>
    <div class="flex flex-col items-center justify-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
        >
            <path
                fill="#2c2c2c"
                fill-rule="evenodd"
                d="M2.002 10h19.996c-.012-2.175-.108-3.353-.877-4.121C20.243 5 18.828 5 16 5H8c-2.828 0-4.243 0-5.121.879c-.769.768-.865 1.946-.877 4.121M22 12H2v2c0 2.828 0 4.243.879 5.121C3.757 20 5.172 20 8 20h8c2.828 0 4.243 0 5.121-.879C22 18.243 22 16.828 22 14zM7 15a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2z"
                clip-rule="evenodd"></path>
        </svg>
        <label class="text-xs">Cards</label>
    </div>
    <div class="flex flex-col items-center justify-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="2em"
            height="2em"
            viewBox="0 0 24 24"
        >
            <path
                fill="#2c2c2c"
                fill-rule="evenodd"
                d="M7 12a2 2 0 1 1-4 0a2 2 0 0 1 4 0m5-2a2 2 0 1 1 0 4a2 2 0 0 1 0-4m7 0a2 2 0 1 1 0 4a2 2 0 0 1 0-4"
            ></path>
        </svg>
        <label class="text-xs">More</label>
    </div>
</nav>
